[Unit]
Description=Nats Streaming Server

[Service]
Type=simple 
Restart=always 
RestartSec=1 
StartLimitInterval=0 
RemainAfterExit=yes
ExecStart=/opt/nats/nats-streaming-server -l /var/log/nats/stream.log -m 8000
WorkingDirectory=/opt/nats

[Install]
WantedBy=multi-user.target
